.list{
  display: flex;
  gap: 12px;
}

.list-item{
  box-shadow: rgba(149, 157, 165, 0.2);
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2);
  width: calc(100% / 3);
}

.img-item{
  background-color: white;
  padding: 12;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 120px;
  width: 120px;
  height: 108px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.list-item .name{
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.title{
  font-weight: bold;
  background-image: linear-gradient(to right bottom, #2f80ff, #3ccbff 85.84%, #3ac2ff);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.list-item .name{
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.top-icon3, .footer-icon7 {
  position: absolute;
  left: 0px;
  width: calc(100% - 50px);
  height: 69.5px;
  margin: 0 25px;
  display: flex;
  flex-wrap: nowrap;
  gap: calc(100% / 3);
}

.top-icon3{
  top: 95px;
  border-bottom: 1px solid #ccc;
}

.icon-car, .icon-building, .icon-place, .icon-home, .icon-list, .icon-setting{
  font-size: 40px;
  text-decoration: none;
  color: #2f80ff;
}

.search-btn3{
  position: absolute;
  transform: rotate(0.03deg);
  transform-origin: 0 0;
}

.search-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
  font-size: 20px;
}

.search-btn3 {
  top: 0px;
  left: 0px;
  width: calc(100% - 45px);
  height: 46px;
  border: 0;
  margin-left: 45px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.search-box3 {
  background-color: var(--primary-grey-6);
  position: absolute;
  margin: 0 !important;
  top: 14.8px;
  left: 24.97px;
  width: 277px;
  height: 48px;
  border-radius: 30px;
}

.header8 {
  position: absolute;
  top: 0.21px;
  left: 0;
  background: linear-gradient(-81.24deg, #2f80ff, #3ccbff 85.84%, #3ac2ff);
  box-shadow: 0 12.521552085876465px 10.02px rgba(0, 0, 0, 0.04),
    0 6.650102138519287px 5.32px rgba(0, 0, 0, 0.03),
    0 2.767256498336792px 2.21px rgba(0, 0, 0, 0.02);
  width: 100%;
  height: 79.52px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  transform: rotate(-0.03deg);
  transform-origin: 0 0;
}

.icon-mes, .icon-notice{
  position: absolute;
  float: right;
  color: #fff;
  font-size: 30px;
}
.icon-mes{
  right: 25px;
}

.icon-notice{
  right: 65px;
}


.footer-icon7 {
  top: 780px;
  margin: 0 36px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
.vehicleimg,
.vehicleimg1,
.vehicleimg2 {
  position: absolute;
  top: 0;
  left: 136px;
  background-color: var(--color-gainsboro-100);
  width: 119px;
  height: 108px;
}
.vehicleimg1,
.vehicleimg2 {
  left: 0;
}
.vehicleimg2 {
  left: 272px;
}
.vehiclecontent,
.vehicletitle {
  position: absolute;
  top: 49px;
  left: 0;
  width: 391px;
  height: 108px;
}
.vehicletitle {
  top: 0;
  display: inline-block;
  width: 150px;
  height: 28px;
}
.hotel,
.vehicle {
  position: absolute;
  top: 0;
  left: 0;
  width: 391px;
  height: 157px;
}
.hotel {
  top: 181px;
}
.vehicle1 {
  margin: 0;
}
.place-list,
.place {
  position: absolute;
  top: 362px;
  left: 0;
  width: 391px;
}
.place-list {
  top: 200px;
  font-size: 26px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  width: calc(100% - 30px);
  margin: 0 15px;
  /* background-color: red; */
  
}

.place-item{
  width: 100%;
  height: 130px;
  position: relative;
  border: 1px solid #ccc;
}

.place-name{
  left: 131px;
  margin-left: 15px;
  position: absolute;
  font-size: 20px;
  color: #333;
}

.place-detail{
  position: absolute;
  left: 131px;
  top: 34px;
  margin-left: 15px;
  font-size: 18px;

}

.place-img{
  background-color: white;
  padding: 12;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 120px;
  width: 128px;
  height: 128px;
  position: absolute;
}

.heart-icon, .global-icon, .share-icon{
  color: #333;
  display: inline-block;
}

.place-btn{
  width: 100%;
  height: 50px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  gap: calc(100% / 3);
  padding: 0 50px;
  top: 150px;
}



.home {
  position: relative;
  background-color: var(--primary-grey-6);
  width: 414px;
  height: 896px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  font-family: var(--font-lato);
}
